Cython
Django
django-extensions
django-annoying
djangorestframework
django-two-factor-auth
psycopg2
python-dateutil
pytz
python3-saml
path.py
requests
ipython
ipdb
uWSGI
whitenoise
pyOpenSSL
Markdown
mistune
