# root path to bundle files, there should be bundle dirs named MTS, ITE, PRD in it
BUNDLES_ROOT = '/home/joeg/lef/realme'

SITE_URL = 'https://joeg.dev.boac.lef'

IDP = 'MTS'  # FAKE, MTS, ITE, PRD

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'mydatabase',
        'USER': 'mydatabaseuser',
        'PASSWORD': 'mypassword',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

